* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
}

ul {
    list-style: none;
}

.btn {
    width: 130px;
    height: 37px;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.container {
    width: 65%;
    margin: 0 auto;
}

/* HEADER */

.main-header {
    background-color: #1F2937;
    color: #F9FAF8;
}

.main-header .logo {
    font-size: 24px;
    font-weight: bold;
}

.main-header .main-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.main-header .navigation-list {
    display: flex;
}

.main-header .navigation-item {
    margin-left: 23px;
}

.main-header .main-navigation a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

.main-header .promo {
    display: flex;
    justify-content: space-between;
    margin-top: 125px;
    padding-bottom: 135px;
}

.main-header .promo .left-column {
    width: 445px;
}

.main-header .promo-title {
    font-size: 48px;
    font-weight: 900;
    line-height: 52px;
}

.main-header .promo-text {
    margin-top: 10px;
    font-size: 18px;
}

.main-header .btn-promo {  
    margin-top: 15px;
    border: none;
}

/* MAIN */
/* INFO SECTION */

.info {
    background-color: #FFFFFF;
    padding: 50px 0 150px 0;
}

.info .info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info .info-list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.info .info-block {
    width: 162px;
    height: 162px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.info .info-text {
    text-align: center;
    width: 162px;
    margin-top: 10px;
}

/* QUOTE SECTION */

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 425px;
    background-color: #E5E7EB;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote figcaption {
    margin-top: 10px;
    font-size: 24px;
    text-align: end;
    color: #1F2937;
    font-weight: bold;
}

/* SIGN-UP SECTION */

.subscription {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 100px 0;
    background-color: white;
}

.subscription .sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: #3882F6;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}

.subscription .sign-up-title {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subscription .btn-sign-up {
    border: 2px solid white
}

/* FOOTER */

.main-footer {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: white;
}

.main-footer .copyright {
    text-align: center;
}